<% layout('layout') -%>

	<!-- Body Section -->
	<div class="sec-banner bg0 p-t-80 p-b-250">
		<section class="bg5 p-t-80 p-b-200">
			<div class="flex-w flex-tr">
				<div class="size-210 p-lr-0 p-t-55 p-b-70 p-lr-0-lg w-full-md">
					<div class="container">
						<div style="display:inline-block; width:45%;text-align:center;">
							<div class="bor17 of-hidden pos-relative">
								<%- include ../partials/messages %>
								<form id="register_form" action="/seller/register" method="POST"
									enctype="multipart/form-data">
									<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" placeholder="sellername"
										name="seller_name" type="text" value="<%=typeof seller_name != 'undefined' ? seller_name : ''%>"/>

									<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" placeholder="Email"
										name="seller_email" type="text" value="<%=typeof seller_email != 'undefined' ? seller_email : ''%>"/>

										<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" placeholder="Password"
										name="seller_pass1" type="password" value="<%=typeof seller_pass1 != 'undefined' ? seller_pass1 : ''%>"/>

										<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" placeholder="Confirm Password"
										name="seller_pass2" type="password" value="<%=typeof seller_pass2 != 'undefined' ? seller_pass2 : ''%>"/>

										<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" placeholder="dob"
										name="seller_dob" type="text" value="<%=typeof seller_dob != 'undefined' ? seller_dob : ''%>" />

										<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" placeholder="CNIC"
										name="seller_cnic" type="text" value="<%=typeof seller_cnic != 'undefined' ? seller_cnic : ''%>" />

										<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" placeholder="Contact No"
										name="seller_cellno" type="text" value="<%=typeof seller_cellno != 'undefined' ? seller_cellno : ''%>" />

										<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" placeholder="Address"
										name="seller_address" type="text" value="<%=typeof seller_address != 'undefined' ? seller_address : ''%>" />

										<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" placeholder="Country"
										name="seller_country" type="text" value="<%=typeof seller_country != 'undefined' ? seller_country : ''%>" />

										<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" placeholder="City"
										name="seller_city" type="text" value="<%=typeof seller_city != 'undefined' ? seller_city : ''%>" />

										<button
											class="flex-c-m stext-101 cl0 size-201 bg4 bor5 hov-btn2 p-lr-170 trans-04">
											Submit
										</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>